.fd {
    display: flex;
    width: 400px;
    height: 300px;
    margin: 10px;
    /* gap: 1rem; */
    background-color: lightcoral;
}

.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.fd-column {
    flex-direction: column;
}

.fd-row-reverse {
    flex-direction: row-reverse;
}

.fd-column-reverse {
    flex-direction: column-reverse;
}

.fd-1 {
    display: flex;
    width: 400px;
    margin: 10px;
    gap: 1rem;
    background-color: lightcoral;
}

.fw-wrap {
    flex-wrap: wrap;
}

.fw-nowrap {
    flex-wrap: nowrap;
}

.fw-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.fd-2 {
    display: flex;
    width: 400px;
    height: 100px;
    margin: 1rem;
    /* gap: 1rem; */
    background-color: lightcoral;
}

#flex-basis>section {
    flex-basis: 100px;
    background-color: lightblue;
}

#flex-grow>section:nth-child(1) {
    flex-grow: 1;
    background-color: lightgoldenrodyellow;
}

#flex-grow>section:nth-child(2) {
    flex-grow: 1;
    background-color: orange;
}

#flex-grow>section:nth-child(3) {
    flex-grow: 1;
    background-color: goldenrod;
}

#flex-shrlink>section {
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

#flex-shrlink>section:nth-child(1) {
   
    background-color: lightgoldenrodyellow;
}

#flex-shrlink>section:nth-child(2) {
    flex-shrink: 2;
    background-color: orange;
}

#flex-shrlink>section:nth-child(3) {
 
    background-color: goldenrod;
}

#flex-shrlink>section:nth-child(4) {
   
    background-color: red;
}

#flex-shrlink>section:nth-child(5) {
   
    background-color: burlywood;
}

#flex-shrlink>section:nth-child(6) {
 
    background-color: green;
}

#flex>section {
    flex: 1 1 100px;
    background-color: lightgreen;
    /* 1 flex:-grow; */
    /* 2 flex-shrlink; */
    /* 3 flex-basis: ; */
}

#flex>section:nth-child(2) {
    flex-shrink: 2;
    background-color: aqua;
}

.box1 {
    min-width: 180px;
    height: 50px;
    background-color: aquamarine;
}

.box {
    width: 50px;
    height: 50px;
    background-color: lightblue;
}

#order>section {
    flex: 1 1 100px;
    background-color: lightgreen;
}

#order>section:nth-child(1) {
    order: 2;
    background-color: lightgoldenrodyellow;
}

#order>section:nth-child(2) {
      background-color: orange;
      order: 3;
}

#order>section:nth-child(3) {
    order: 4;
    background-color: goldenrod;
}

#order>section:nth-child(4) {
    order: 5;
    background-color: red;
}

#order>section:nth-child(5) {
    order: 6;
    background-color: burlywood;
}

#order>section:nth-child(6) {
    order: 4;
    background-color: green;
}