@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato-Black.ttf');
} 

@font-face {
    font-family: Train;
    src: url('../assets/fonts/TrainOne-Regular.ttf');
}

@font-face {
    font-family: Lato-light;
    src: url('../assets/fonts/Lato-Light.ttf');
}