* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    margin-bottom: 50px;
    height: 400px;
    background-color: lightgreen;
}

#example-columns {
    grid-template-columns: 50px 50px 50px 50px;
}

#example-row-columns {
    grid-template-columns: 40px 80px 60px;
    grid-template-rows: 30px 60px 70px;
}

#example-repeat {
    --column-width: 40px;
    --row-height: 40px;
    grid-template-columns: repeat(4, var(--column-width));
    grid-template-rows: repeat(4, var(--row-height));
}

#example-areas {
    grid-template-columns: 200px 50px auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "sidebar . main main"
    "footer footer footer footer";
}

#example-areas>section:nth-child(1) {
        grid-area: header;
}

#example-areas>section:nth-child(2) {
    grid-area: main;
}


#example-areas>section:nth-child(3) {
    grid-area: sidebar;
}

#example-areas>section:nth-child(4) {
    grid-area: footer;
}

#example-grid-template {
    grid-template: repeat(4, 40px)/repeat(3,40px) ;
}

#example-gap {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* row-gap: 25px;
    column-gap: 25px    ; */
    gap: 25px 50px  ;
}

#example-place-items {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    /* justify-items: center;
    align-items: center; */
    place-items: center end;

}

#example-place-items>section {
    width: 50px;
    height: 50px;
}

#example-place-content {
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-content: space-evenly; */
    place-content: space-evenly;
    
}

#example-grid-auto-row-column {

    --column-size: 60px;
    --row-size: 90px;
    grid-template-columns: repeat(2, var(--column-size));
    grid-template-rows: repeat(2, var(--row-size));
    grid-auto-columns: var(--column-size);
    grid-auto-rows: var(--row-size);

}

#example-grid-auto-row-column>section:nth-child(3) {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

#example-grid-auto-flow {
    grid-template: repeat(4, 70px) / repeat(2, 70px);
    gap: 10px;
    grid-auto-flow: row dense;
}

#example-grid-auto-flow>section:nth-child(1) {
    grid-row-start: 3;
}

#example-grid-auto-flow>section:nth-child(3) {
    grid-column-start: 2;
}