@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/GothamBold.ttf') format('truetype');
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center start;
    gap: 30px;
}   

.link {
    color: #2F281E;
}

.link:hover {
    color: #FF9900;
}

.link-logo:hover {
    opacity: .7 ;
}

.wrapper {
    margin: 17px auto 70px;
    max-width: 1200px;
}

.navigation {
    display: flex;
    gap: 20px;
}

.design-thinking, 
.design-professionals, 
.product-managers, 
.marketers  {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}

.design-thinking_text-block {
    width: 500px;
    margin: 0 56px 0 0;
}

.design-professionals_text-block {
    width: 525px;
    margin: 0 113px 0 0;
}

.product-managers_text-block {
    width: 505px;
    margin: 0 0 0 125px;
}

.product-managers_list {
    display: inline-flex;
    align-items: start;
    width: 400px;
}

.marketers_text-block {
    width: 486px;
    margin: 0 174px 0 0 ;
}

.design-tools {
    display: grid;
    
    height: 510px;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 20px;
    place-items: center;
    grid-template-areas:
        "title title title title"
        "arrow wave heart sand-clock"
        ". button button ." ;
}

.design-tools-bg {
    background-image: url(../assets/images/bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#content-title {
    grid-area: title;
}

#arrow {
    grid-area: arrow;
}

#wave {
    grid-area: wave;
}

#heart {
    grid-area: heart;
}

#sand-clock {
    grid-area: sand-clock;
}

#button {
    grid-area: button;
}


.text, 
article p, 
.footer{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 72, 55, 1);
}

.text, 
.title, 
.title-m, 
.title-s, 
article p, 
article h4, 
article span, 
.footer, 
#phone {
    font-family: Montserrat;
    letter-spacing: 0px;
   }

.title, 
.title-m, 
.title-s, 
.footer-title, 
article h4 {
   color: rgba(47, 40, 30, 1);
}


.font-size-16,
article p {
    font-size: 16px;
}

.design-thinking, 
.design-tools, 
.design-professionals, 
.product-managers {
    margin-bottom: 100px;
}

.padding-bot-10, 
li>h4 {
    padding-bottom: 10px;
}

#footer-list1>li, 
#footer-list2>li {
    padding-bottom: 15px;
}

.padding-bot-20 {
    padding-bottom: 20px;
}

.padding-bot-25 {
    padding-bottom: 25px;
}

.padding-bot-30, 
li>p {
    padding-bottom: 30px;
}

.padding-bot-40 {
    padding-bottom: 40px;
}

li>img {
    padding: 10px 30px 0 0;
}
.title {
    font-size: 44px;
}

.footer-title {
    font-size: 20px;
    font-family: Gotham;
    line-height: 30px;
}

.title, .footer-title {
    font-weight: 700;
}

.title-m {
    font-size: 36px;
}

.title-s {
    font-size: 22px;
    padding: 30px 100px 16px 0;
}

.title-m, 
.title-s, 
.button, 
article h4 {
    font-weight: 600;
}

/* Buttons */
.button {
    width: 110px;
    height: 46px;
    border-radius: 4px;
    padding: 10px;
    background-color: Orange;
    color: rgba(255, 255, 255, 1);
    border-style: none;
    text-align: center;
    border: 1px solid orange;
}

.button:hover {
    color: rgba(47, 40, 30, 1);
    background-color: transparent;
    border: 1px solid rgba(188, 208, 229, 1);
}

.button-bg-white {
    background: rgba(255, 255, 255, 1);
    border: 1px solid;
    margin: 0 32px;
    border-color: rgba(188, 208, 229, 1);
    color: rgba(47, 40, 30, 1);
}

.button-bg-white:hover {
    color: white;
    background-color: orange;
    border-color: orange;
}

/* Transition */
.link-style { 
    transition: .4s;
    text-decoration: none;
}

.button-l {
    width: 180px;
    height: 50px;
    font-family: Poppins;
    
}

.logo {
    width: 200px;
    height: 32px;
    }

.footer {
    display: grid;
    box-sizing: border-box;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    justify-items: space-between;
    gap: 25px;   
    padding-top: 53px;
    }

#phone {
    width: 340px;
    height: 50px;
    border: 1px solid rgba(188, 208, 229, 1);
    color: rgba(188, 208, 229, 1);
    margin-bottom: 25px;
    padding: 0 20px;
}

.button-link {
    padding: 14px;
    margin: 0  0  0 17px;
}

.form-input::placeholder {
    color: #BCD0E5;
}