// Fonts
$f-delius-unicase: "delius-unicase", sans-serif;


// Animation
$a-base: box-shadow-block .5s infinite alternate;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box shadow
$bs-base: 1px 1px 5px black;

// Colors 
$c-light-black: #2626267e;


// Font size
$fs-sm-footer: 25;


// Line height
$lh-small: 25;
