* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    margin-bottom: 50px;
    height: 400px;
    background-color: lightgreen;
}

#example-grid-cell {
    height: 600px;
    /* grid-template: repeat(6, 100px) / repeat(4, 100px); */
    grid-template-rows: [row1] 50px [row2] 100px [row3] 150px;
    grid-template-columns: [col1] 50px [col2] 100px [col3] 150px;
}

/* #example-areas {
    grid-template-columns: 200px 50px auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "sidebar . main main"
    "footer footer footer footer";
} */

#example-grid-cell>section:nth-child(1) {
    width: 50px;
    height: 50px;
    grid-row-start: row2;
    grid-column-start: col2;
    /* grid-area: 4 / 2 / 6 / 4; */
    place-self: end start;
    /* justify-self: end;
    align-self: end; */
    /* grid-row: 3 / 5; */
    
    /* grid-row-start: 3;
    grid-row-end: 5; */
    /* grid-column: 3/5; */
    /* grid-column-start: 2;
    grid-column-end: 4; */
}

#example-grid-fill {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


