*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

li,
h1 {
    padding: 15px;
}

.wrapper {
    margin: 30px auto;

}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    background-color: cadetblue;
    transition: .5s ease-in-out;

    &:hover {
        background-color: whitesmoke;
        color: cadetblue;
        border-color: cadetblue;
    }
}

.content__textarea {
    padding: 50px;
    text-align: center;

}