@use './_fonts';

.header__nav-eng {
    text-align: center;
    font-family: Tourney;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.88px;
}

.header__nav-links, 
.repo {
    color: #000;
    font-family: Staatliches;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
}

.repo {
    font-size: 36px;
    text-align: center;
    margin-bottom: 90px ;
}

.chapter__title {
    font-family: FrancoisOne;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.44px;
    text-transform: uppercase;

    &-number {
        color: #000;
        font-family: Farro;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: none;
        margin: 5px 0 0 10px;
    }
}

.chapter__content {
    color: #000;
    font-family: PTSans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
