#navigation a:link {
    color: orange;
}

#navigation a:visited {
    color: red;
}

#navigation a:active {
    color: green;
}

#hover-example:hover {
    background-color: crimson;
}
#not-example>p:not(.class1) {
    color: orange;
}

#Nth-child-example>:nth-child(1) {
    color: purple;
}

#form-example>form>input:checked {
    width: 100px;
    height: 100px;
}

#form-example>form>input:enabled {
    background-color: lightcyan;
}

#form-example>form>input:disabled {
    background-color: lightblue;
}

#form-example>form>input:valid {
    border: 2px solid green;
}

#form-example>form>input:invalid {
    border: 2px solid red;
}

#form-example>form>input:focus {
    background-color: lightcoral;
}