.h_class{
    font-style: italic;
    text-align: center;
}

body {
    background-color: bisque;
}

.text_class{
   text-align: justify;
   vertical-align: middle; 
   display: inline-block; 
   width: 400px;
   position: relative;
   top: 30px;
   padding-bottom: 85px;
   
}

p {
    margin: 0;
    text-indent: 3ch;
  }

.img_class {
    float: left;
    margin: 0px 20px 20px 0; 
}

.span_class {
    vertical-align: middle;
    line-height: 2.5;
    margin: 10px 10px 10px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.profile,
.contact {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.profile {
    display: flex;
}