@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Black.ttf");
}
@font-face {
  font-family: Train;
  src: url("../assets/fonts/TrainOne-Regular.ttf");
}
@font-face {
  font-family: Lato-light;
  src: url("../assets/fonts/Lato-Light.ttf");
}
.text {
  font-family: Lato;
  color: #3C3C3C;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.text-title, .text-subtitle {
  font-weight: 700;
}
.text-title, .text-s {
  text-align: center;
}
.text-title {
  font-size: 34px;
}
.text-subtitle {
  font-size: 18px;
  color: #282528;
  text-align: left;
  text-transform: none;
  margin: 20px 0 0;
}
.text-subtitle, .text-description {
  text-align: left;
}
.text-s, .text-description {
  font-family: Lato-light;
  font-weight: 300;
  text-transform: none;
}
.text-s {
  font-size: 16px;
}
.text-description {
  font-size: 18px;
}

.navigation-wrapper,
.footer-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 135px;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation-wrapper {
  border-bottom: 1px solid #BDBDBD;
}

.footer-wrapper {
  flex-direction: column;
  padding: 40px 135px;
}
.footer-wrapper__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Train;
  font-size: 30px;
  padding: 0 0 10px;
}
.footer-wrapper__logo:hover {
  opacity: 0.6;
  transition: 0.6s;
  cursor: url("../assets/images/cursor.png"), auto;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}
.navigation__menu {
  display: flex;
  justify-content: space-between;
  padding: 28px 10px;
  gap: 30px;
  margin: 0 auto;
}
.navigation__menu-links:hover {
  color: #18B5DC;
  transition: 0.4s ease;
  cursor: url("../assets/images/cursor.png"), auto;
}
.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Train;
  font-size: 30px;
}
.navigation__logo:hover {
  opacity: 0.6;
  transition: 0.6s;
  cursor: url("../assets/images/cursor.png"), auto;
}
.navigation__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3C3C3C;
  width: 130px;
  height: 42px;
  padding: 10px 20px;
  background-color: transparent;
}
.navigation__btn:hover {
  border-color: #18B5DC;
  background-color: #18B5DC;
  color: #FFFFFF;
  transition: 0.5s ease;
  cursor: url("../assets/images/cursor.png"), auto;
}
.navigation__btn-repo {
  width: 200px;
  height: 60px;
  padding: 20px;
}

.main-wrapper {
  display: flex;
  margin: 0 auto;
}

.block-about {
  background-color: #F6F6F6;
  width: 100%;
  padding: 150px 135px;
}
.block-about__text-content {
  width: 570px;
  height: 140px;
  margin: 0 auto;
  padding: 0 10px 60px;
}
.block-about__text-content-divider {
  width: 45px;
  height: 4px;
  background-color: #DDDBDB;
  margin: 20px auto 40px;
}
.block-about__personal {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}
.block-about__personal__card-1 {
  width: 270px;
  height: 270px;
  background-image: url("../assets/images/my-photo.png");
}
.block-about__personal__card-2 {
  width: 270px;
  height: 270px;
  background-image: url("../assets/images/card.png");
}
.block-about__personal__card-3 {
  width: 270px;
  height: 270px;
  background-image: url("../assets/images/photo.png");
}
.block-about__personal__card-4 {
  width: 270px;
  height: 270px;
  background-image: url("../assets/images/card-1.png");
}
.block-about__personal__card-1:hover, .block-about__personal__card-2:hover, .block-about__personal__card-3:hover, .block-about__personal__card-4:hover {
  background-image: url("../assets/images/bg.png");
  transition: 0.4s ease-in-out;
}
.block-about__personal__card-1:hover .buttons, .block-about__personal__card-2:hover .buttons, .block-about__personal__card-3:hover .buttons, .block-about__personal__card-4:hover .buttons {
  display: flex;
  align-items: center;
}

.buttons {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}
.buttons-footer {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 42px;
  transition: 0.4s ease;
}
.btn-twitter {
  background-image: url("../assets/images/twitter.png");
}
.btn-twitter:hover {
  background-image: url("../assets/images/twitter(1).png");
}
.btn-facebook {
  background-image: url("../assets/images/facebook.png");
}
.btn-facebook:hover {
  background-image: url("../assets/images/facebook(1).png");
}
.btn-insta {
  background-image: url("../assets/images/instagram.png");
}
.btn-insta:hover {
  background-image: url("../assets/images/instagram(1).png");
}
.btn-footer-twitter {
  background-image: url("../assets/images/twitter(2).png");
}
.btn-footer-twitter:hover {
  background-image: url("../assets/images/twitter.png");
}
.btn-footer-facebook {
  background-image: url("../assets/images/facebook(2).png");
}
.btn-footer-facebook:hover {
  background-image: url("../assets/images/facebook-1.png");
}
.btn-footer-insta {
  background-image: url("../assets/images/instagram(2).png");
}
.btn-footer-insta:hover {
  background-image: url("../assets/images/instagram-1.png");
}
.btn-footer-linkedin {
  background-image: url("../assets/images/linkedin.png");
}
.btn-footer-linkedin:hover {
  background-image: url("../assets/images/linkedin-1.png");
}
.btn-footer-telegram {
  background-image: url("../assets/images/telegram.png");
}
.btn-footer-telegram:hover {
  background-image: url("../assets/images/telegram-1.png");
}
.btn:hover {
  cursor: url("../assets/images/cursor.png"), auto;
}

/*# sourceMappingURL=style.css.map */
