.projects {
  padding: 130px 0 150px;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 75px 0;
  }

  &__title {
    margin-bottom: 147px;
    text-align: center;
    position: relative;


    &::before {
      position: absolute;
      content: '';
      top: -30px;
      left: calc(50% - 50px);
      width: 100px;
      height: 1px;
      background-color: #2C4058;
    }
  }

  &__item {
    margin-bottom: 177px;
    display:flex;
    gap: 65px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &:nth-child(odd) {
      .projects__image {
        &::before {
          right: 260px;
          background-color: #55B7FF;

          @media (max-width: 768px) {
            right: 50%;
          }
        }
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @media (max-width: 1024px) {
        flex-direction: column;
      }

      .projects__image {
        &::before {
          left: 260px;
          background-color: #7E5AFF;

          @media (max-width: 768px) {
            left: 50%;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    position: relative;
    max-width: 630px;
    height: 470px;
    width: 100%;
    z-index: 1;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      height: auto;
    }

    img {
      @media (max-width: 768px) {
        height: auto;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: -57px;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
  }

  &__content {
    max-width: 475px;
    width: 100%;
    padding-top: 94px;

    @media (max-width: 1024px) {
      padding-top: 0;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__suptitle {
    font-size: 22px;
    line-height: normal;
  }

  &__heading {
    margin-bottom: 19px;
  }

  &__text {
    color: #2C4058;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__btn {
    margin-bottom: 60px;

    @media (max-width: 1024px) {
      margin: 0 auto 40px;
    }
  }

  &__geolocation {
    display: inline-flex;
    align-items: center;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    svg {
      width: 9px;
      height: 17px;
      margin-right: 10px;
    }

    span {
      color: #000;
      font-size: 15px;
      font-style: italic;
      line-height: normal;
    }
  }
}