html {
    scroll-behavior: smooth;
  }

.header {
    display: flex;
    justify-content: center;
    width: 940.6px;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.conteiner {
    display: block;
    width: 940.6px;
    margin: 10px auto;


}

.conteiner_colored {
    display: block;
    padding: 0 0 100px;
    margin: 70px auto;
    background-color: #F6F6F6;

}
 
  .nav-link {
    color: #000000;  /* Active link color */
  }

.site_navigation {
    display: inline-flex;
    margin: 10px 10px;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
}

.site_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 64px;
    display: flex;
    justify-content: left;
    width: 600px;
    color: #070707;
    padding: 15px 0;
}

.photo {
    display: flex;
    justify-content: center;
    margin: 15px auto 40px;
    width: 943.61px;
    height: 387px;
}

.content_titles {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
    padding: 70px 0 25px;
}

.content {
    width: 480px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto 25px;
    color: #070707;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.skills_img {
    display: inline-flex;
    justify-content: center;
    margin: 75px 25px;
}

.link {
    width: 480px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto 75px;
    color: #070707;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border-radius: 24px;
    width: 180,5px;
    margin: 35px auto 15px;
    background: #070707;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.social_img {
    display: inline-flex;
    justify-content: center;
    margin: 55px 30px;

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 45px;
}

.social_text {
    width: 243px;
    height: 63px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 45px;
}

