@use "./text";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__wrapper {
    width: 570px;
    padding: 35px 35px 20px;
    margin: 0 auto;
    background-color: #FFFFFF;

}

.creation-form {
    display: flex;
    flex-direction: column;
    
    &__title {
        padding-bottom: 20px;
    }

    &__terms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 410px;
        margin: 0 auto;
    }

    &__input {
        display: flex;
        gap: 12px;
        padding-bottom: 20px;

        &-block {
            width: 245px;
            height: 38px;
            border: 1px solid #E4E4E4;
            border-radius: 5px;
            padding: 10px;
            appearance: none;
            background-color: transparent;
            cursor: pointer;

            &:focus {
                outline: none;
                border-color: #007BFF;
                transition: .6s ease-in-out
            }

            

            &-email {
                width: 500px;
            }

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;    
                width: 500px;
                height: 38px;
                background-color: #007BFF;
                color: #E4E4E4;
                border: 1px solid #007BFF;
                border-radius: 5px;
                padding: 0;
                margin-bottom: 22px;
            }
        }

        &-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        
        }
    }
}

.select {
    position: relative;
}

.select::before {
    content: '';
    position: absolute; 
    transform: translateY(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.25px 5.25px 5.25px;
    border-color: transparent transparent #969696 transparent;
    top: 70%;
    right: 5px;
    pointer-events: none;
}

.select::after {
    content: '';
    position: absolute; 
    transform: translateY(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.25px 5.25px 0 5.25px;
    border-color: #969696 transparent transparent transparent;
    top: 80%;
    right: 5px;
    pointer-events: none;
}

// custom radio buttons
.radio {
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.radio + .radio {
    margin-left: 20px;
}

.radio input[type="radio"] {
    display: none;

    &:checked ~ span{
        background: #007BFF;
    }

    &:checked ~ span::after {
        transform: translate(-50%, -50%) scale(1);
    }
}


.radio span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: .2s ease-in-out;

    &:hover {
        border-color: #007BFF;
    }

    &::after {
        content: '';
        height: 8px;
        width: 8px;
        background: #FFFFFF;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        transition: .3s ease-in-out 0s;
    }
}

// footer styles
.footer {
    &__divider {
        display: flex;
        width: 500px;
        height: 1px;
        background-color: #E4E4E4;
        margin: 0 auto 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 570px;
        margin: 0 auto 20px;
        background-color: #FFFFFF;
}

    &__log-in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 177px;
        margin: 0 auto;
}
}